.content{
    display: flex;
    gap: 50px;

}

.list-menu{
    display: flex;
    list-style-type: none;
    width: 70%;
    gap: 200px;
    margin-left: 230px;
}

.list-menu .address{
    margin-left: 40px;
}