.list-card-content{
    width: 100%;
    display: flex;
    justify-content: center;
}

.list-card{
    display: flex;
    border: 1px solid #F7F7F7;
    box-shadow: 0px 5px #F7F7F7;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 20px;
}

.title-list{
    display: flex;
    width: 60%;
    justify-content:center;
    gap: 70px;
}

img{
    width: 100px;
    height: 70px;
    border-radius: 50%;
    
}

.edit{
    padding: 5px 30px;
    background-color: blue;
    border: none;
    border-radius: 5px;
    color: white;
}

.delete{
    padding: 5px 30px;
    background-color: red;
    border: none;
    border-radius: 5px;
    color: white;
}

.buttons{
    display: flex;
    gap: 10%;
}
